{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
   
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/gallery/logoencabezado.svg' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!-- css propios-->
    <link rel="stylesheet" href="{% static 'css/administracion.css' %}">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
   

    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />

</head>
<body>
<main class="main" id="top">  
    <!--barra de navegacion-->
    {% block nabvar %}{% endblock nabvar %}
    <!--contenido de la paginas url-->
    {% block content %}{% endblock content %}
    <!--pie de la pagina-->
    {% block footer %}{% endblock footer %}
</main>

    <!--url de javascript-->
     <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/@popperjs/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/is/is.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script>

    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script> 
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    
    
</body>
</html>